<<<<<<< HEAD
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #BF55EC;
}
h1{
    margin: 25px 25px;
    color:#fff;
    font-size: 50px;
}
=======
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #BF55EC;
}
h1{
    margin: 25px 25px;
    color:#fff;
    font-size: 50px;
}
>>>>>>> 783dbf323df921960f85ce0d5ab1f2a49363ad97
