body{
    margin: 0 auto;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}
#block{
    width: 1200px;
    border: 1px solid #D3D3D3;
    height: 600px;
    border-radius: 10px;
    margin: 30px;
    margin-top: 50px;
}
img{
    margin-left: 700px;
    z-index: 9999999999;
    border-radius: 10px;
}
.covid{
    font-weight: 700;
    text-align: start;
    font-size: 60px;
    margin: 30px;
}
.date{
    color: gray;
    text-align: start;
    margin: 30px;
    margin-top: -460px;
}
.span_menu_1{
    font-weight: 700;
    margin: px;
    border: 1px solid #D3D3D3;
    padding: 10px 20px;
    border-radius: 10px 0 0 10px;
    position: relative;
    right: 400px;
    transition: background-color .3s linear;
}
.span_menu_2{
    font-weight: 700;
    margin: px;
    border: 1px solid #D3D3D3;
    padding: 10px 20px;
    position: relative;
    right: 400px;
    transition: background-color .3s linear;
}
.span_menu_3{
    font-weight: 700;
    margin: px;
    border: 1px solid #D3D3D3;
    padding: 10px 20px;
    border-radius: 0 10px 10px 0;
    position: relative;
    right: 400px;
    transition: background-color .3s linear;
}
.span_menu_1:hover{
    background-color: #D3D3D3;
}
.span_menu_2:hover{
    background-color: #D3D3D3;
}
.span_menu_3:hover{
    background-color: #D3D3D3;
}
.heal_val{
    font-size: 60px;
}
.heal_text{
    font-size: 20px;
    margin-top: -20px;
    margin-left: 45px;
}
#heal{
    margin-left: -1020px;
    margin-top: 100px;
}
.heal_today{
    font-weight: 700;
    margin-left: 20px;
    position: relative;
    margin-top: ;
}
ks{
    color: green;
}
.zar_val{
    font-size: 60px;
}
.zar_text{
    font-size: 20px;
    margin-top: -20px;
    margin-left: -5px;
}
#zar{
    margin-left: -400px;
    margin-top: -193px;
}
.zar_today{
    font-weight: 700;
    margin-left: -10px;
    position: relative;
    margin-top: ;
}
km{
    color: gray;
}
died{
    color: red;
}
.died_val{
    font-size: 60px;
}
.died_text{
    font-size: 20px;
    margin-top: -20px;
    margin-left: -5px;
}
#died{
    margin-left: 250px;
    margin-top: -195px;
}
.died_today{
    font-weight: 700;
    margin-left: -0px;
    position: relative;
    left: 15px;
}
hr{
    display: none;
}
#world{
    display: none;
    position: relative;
    left: 70px;
}
#world .heal_text{
    position: relative;
    right: 75px;
}
#world .heal_today{
    position: relative;
    right: 65px;
}
#world .zar_today{
    position: relative;
    right: 20px;
}
#world .died_today{
    position: relative;
    left: -50px;
}
#world .zar_text{
    position: relative;
    right: 30px;
}
#world .died_text{
    position: relative;
    right: 70px;
}
#tatarstan{
    display: none;
}