html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

::-moz-selection {
  background: #1ce678;
  color: #fff; }

::selection {
  background: #1ce678;
  color: #fff; }

.mb20 {
  margin-bottom: 20px !important; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?hhiaow");
  src: url("../fonts/icomoon.eot?hhiaow#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?hhiaow") format("truetype"), url("../fonts/icomoon.woff?hhiaow") format("woff"), url("../fonts/icomoon.svg?hhiaow#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-iconmonstr-code-2:before {
  content: "\e900"; }

.icon-iconmonstr-code-5:before {
  content: "\e901"; }

.icon-iconmonstr-code-9:before {
  content: "\e902"; }

.icon-iconmonstr-code-11:before {
  content: "\e903"; }

.icon-iconmonstr-code-13:before {
  content: "\e904"; }

.icon-iconmonstr-code-15:before {
  content: "\e905"; }

strong {
  font-weight: 700; }

a {
  color: #00a1ff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none; }
  a:hover, a:focus, a:active {
    color: #1ce678;
    text-decoration: none; }

body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll; }
h2{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: .5em;
}
.btn {
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  background: #00a1ff;
  padding: 0 30px;
  height: 38px;
  line-height: 38px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .btn:hover, .btn:focus, .btn:active {
    background: #1ce678;
    color: #fff;
    border-color: #1ce678; }
  .btn--large {
    padding: 0 50px;
    height: 46px;
    line-height: 46px;
    font-size: 17px;
    border-radius: 4px; }
    @media (min-width: 840px) {
      .btn--large {
        height: 52px;
        line-height: 52px; } }
  .btn--ghost {
    border: 3px solid #fff;
    background: transparent; }

.header {
  position: relative;
  text-align: center;
  overflow-x: hidden; }
  .header::before {
    content: '';
    position: absolute;
    top: -100px;
    right: -300px;
    bottom: 100px;
    left: -300px;
    background-size: 300px;
    background: -webkit-linear-gradient(45deg, #00a1ff, #1aaaff);
    background: -o-linear-gradient(45deg, #00a1ff, #1aaaff);
    background: linear-gradient(45deg, #00a1ff, #1aaaff);
    background-blend-mode: multiply;
    display: block;
    z-index: -2;
    -webkit-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
    opacity: 1; }
  .header__hero {
    position: relative;
    z-index: 10;
    padding: 80px 15px 220px; }
    @media (min-width: 840px) {
      .header__hero {
        padding: 130px 15px 300px; } }
    .header__hero .btn {
      margin: 0 10px 10px 10px; }
      @media (min-width: 840px) {
        .header__hero .btn {
          margin: 0 10px; } }
  .header__canvi-logo {
    height: 60px;
    margin: 0 0 20px 0; }
    @media (min-width: 840px) {
      .header__canvi-logo {
        height: 80px; } }
    .header__canvi-logo img {
      max-height: 100%;
      width: auto; }
  .header__description {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.1em;
    line-height: 1.3em;
    margin: 0 0 35px 0; }
    @media (min-width: 840px) {
      .header__description {
        font-size: 1.3em; } }
  .header__navigation {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    height: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 800px;
    max-width: calc(100% - 40px); }
    @media (min-width: 1200px) {
      .header__navigation {
        height: 100px; } }
  .header__logo {
    width: 32px;
    height: 41px; }
  .header__nav {
    margin: 0;
    padding: 0;
    display: none; }
    @media (min-width: 840px) {
      .header__nav {
        display: block; } }
    .header__nav li {
      display: inline-block; }
    .header__nav a {
      font-weight: 700;
      margin-left: 35px;
      color: rgba(255, 255, 255, 0.8);
      text-decoration: none; }
      .header__nav a:hover {
        color: #fff; }
  .header__menu-button {
    display: inline-block;
    width: 30px; }
    @media (min-width: 840px) {
      .header__menu-button {
        display: none; } }
    .header__menu-button span {
      display: block;
      height: 3px;
      background: #fff;
      margin: 7px 0; }

.main-container {
  width: 800px;
  max-width: calc(100% - 40px);
  margin: 0 auto;
  color: #676767;
  font-size: 16px;
  line-height: 1.5em;
  padding: 0 20px; }
  .main-container p {
    margin-bottom: 20px; }
  .main-container .btn {
    margin: 0 10px 10px 0; }
    @media (min-width: 840px) {
      .main-container .btn {
        margin: 0 10px 0 0; } }

.option-block:not(:last-child) {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding-bottom: 20px; }

.option-block__title {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 18px;
  color: #000; }

.option-block__data strong {
  font-weight: 700; }

.option-block__description.option-block__description {
  margin-bottom: 0; }

.separator {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 70px 0 50px; }

.title-section {
  font-size: 22px;
  color: #121212;
  font-weight: 700;
  margin: 0 0 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 10px; }
  @media (min-width: 1200px) {
    .title-section {
      font-size: 24px; } }

.footer {
  text-align: center;
  padding: 40px;
  color: #ccc;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 40px; }
  .footer p {
    text-transform: uppercase;
    font-size: 13px; }

.code-inline {
  font-family: "Courier New",Courier,monospace;
  background: #efefef;
  padding: 2px 4px;
  border-radius: 2px;
  white-space: nowrap;
  font-size: 14px; }
